/*
===== CONTENTS ===========================================

	1-4   /learn/story/overview.html
	1-5   /learn/benefit/index.html
	1-6   /learn/howtouse/index.html

	5-1   /faq.html
	5-2   /howto.html

==========================================================
*/
/* nav current
--------------------------------------------------------- */
.lesson-content4 .ej-hn li#ej-hn05 .nolink {
	background-color: #b3e6ba !important;
}
.lesson-content4 .ej-hn li#ej-hn05 li a {
	background: #e7f8ea !important;
}

@media only screen and (min-width: 601px) {
  .lesson-content4 .ej-hn li#ej-hn05 li a:hover {
	background-color: #b3e6ba !important;
  }
}
#lesson-overview .sub-nav li.sn11 a {
	background: #42c253;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	color: white !important;
	cursor: default;
}

#lesson-benefit .sub-nav li.sn12 a {
	background: #42c253;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	color: white !important;
	cursor: default;
}

#lesson-howtouse .sub-nav li.sn07 a {
	background: #42c253;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	color: white !important;
	cursor: default;
}

#lesson-faq .sub-nav li.sn08 a {
	background: #42c253;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	color: white !important;
	cursor: default;
}

#lesson-podcast .sub-nav li.sn09 a {
	background: #42c253;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	color: white !important;
	cursor: default;
}

/* =========================================================
	1-4   /learn/story/overview.html
========================================================= */
#p-profile {
	position: relative;
	min-height: 80px;
	margin-bottom: 16px;
}
#p-profile img {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: auto;
	border: 1px solid #dadada;
}
#p-profile #pp-inner {
	margin-left: 94px;
}
#p-profile #pp-inner h3 {
	margin-bottom: 6px;
	font-size: 20px;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	line-height: 1;
}

.chara-prof {
	zoom: 1;
}
.chara-prof:before, .chara-prof:after {
	display: block;
	height: 0;
	visibility: hidden;
	content: "\0020";
}
.chara-prof:after {
	clear: both;
}

.chara-prof {
	position: relative;
	margin: 5px 0 50px;
}
.chara-prof #chara-pic1,
.chara-prof #chara-pic2,
.chara-prof #chara-pic3,
.chara-prof #chara-pic4,
.chara-prof #chara-pic5,
.chara-prof #chara-pic6 {
	width: 140px;
	height: 300px;
	background: url("/image/characters_x2.jpg") 0 0 no-repeat;
	background-size: 840px auto;
}
.chara-prof #chara-pic1,
.chara-prof #chara-pic3,
.chara-prof #chara-pic5 {
	position: absolute;
	top: 0;
	left: 14px;
}
.chara-prof #chara-pic2,
.chara-prof #chara-pic4,
.chara-prof #chara-pic6 {
	position: absolute;
	top: 0;
	right: 14px;
}
.chara-prof #chara-pic1 {
	background-position: 0 0;
}
.chara-prof #chara-pic2 {
	background-position: -140px 0;
}
.chara-prof #chara-pic3 {
	background-position: -280px 0;
}
.chara-prof #chara-pic4 {
	background-position: -420px 0;
}
.chara-prof #chara-pic5 {
	background-position: -560px 0;
}
.chara-prof #chara-pic6 {
	background-position: -700px 0;
}
.chara-prof p {
	padding-top: 305px;
}

#anna h3,
#rodrigo h3,
#mother h3 {
	position: absolute;
	top: 100px;
	left: 170px;
	font-size: 20px;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	line-height: 1;
}

#sakura h3,
#suzuki h3,
#kenta h3 {
	position: absolute;
	top: 100px;
	right: 170px;
	font-size: 20px;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	line-height: 1;
	text-align: right;
}

#kenta.chara-prof {
	margin-bottom: 10px;
}

@media only screen and (min-width: 601px) {
  .chara-prof {
	height: 300px;
  }
  .chara-prof #chara-pic1,
  .chara-prof #chara-pic2,
  .chara-prof #chara-pic3,
  .chara-prof #chara-pic4,
  .chara-prof #chara-pic5,
  .chara-prof #chara-pic6 {
	background-image: url("image/characters.jpg");
  }
  .chara-prof #chara-pic1,
  .chara-prof #chara-pic3,
  .chara-prof #chara-pic5 {
	left: 0;
  }
  .chara-prof #chara-pic2,
  .chara-prof #chara-pic4,
  .chara-prof #chara-pic6 {
	right: 0;
  }
  .chara-prof p {
	padding: 0;
  }

  #anna h3,
  #rodrigo h3,
  #mother h3 {
	position: inherit;
	top: inherit;
	left: inherit;
	padding: 76px 0 6px 160px;
  }

  #sakura h3,
  #suzuki h3,
  #kenta h3 {
	position: inherit;
	top: inherit;
	right: inherit;
	padding: 76px 160px 6px 0;
	text-align: left;
  }

  #anna.chara-prof,
  #rodrigo.chara-prof,
  #mother.chara-prof {
	margin: 0 80px 0 0;
  }
  #anna.chara-prof p,
  #rodrigo.chara-prof p,
  #mother.chara-prof p {
	padding-left: 160px;
  }

  #sakura.chara-prof,
  #suzuki.chara-prof,
  #kenta.chara-prof {
	margin: 0 0 0 80px;
  }
  #sakura.chara-prof p,
  #suzuki.chara-prof p,
  #kenta.chara-prof p {
	padding-right: 160px;
  }

  #anna.chara-prof {
	margin-top: 5px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .chara-prof #chara-pic1,
  .chara-prof #chara-pic2,
  .chara-prof #chara-pic3,
  .chara-prof #chara-pic4,
  .chara-prof #chara-pic5,
  .chara-prof #chara-pic6 {
	background-image: url("/image/characters_x2.jpg");
	background-size: 840px auto;
  }
}
/* individual small parts */
#lesson-overview #lead-box .lead-inner img {
	float: none;
	width: 100%;
	margin: 0 auto 10px;
}

@media only screen and (min-width: 601px) {
  #lesson-overview #lead-box .lead-inner img {
	float: left;
	width: 284px;
	margin: 0 18px 0px 0;
  }
}
/* =========================================================
	1-5   /learn/benefit/index.html
========================================================= */
/* individual small parts */
#lesson-benefit .lead-inner p {
	margin-bottom: 3px;
}
#lesson-benefit .add-box p {
	margin-bottom: 6px;
}

/* =========================================================
	1-6   /learn/howtouse/index.html
========================================================= */
.howto-box img.howto-pic {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.howto-box dl {
	margin-top: 14px;
}
.howto-box dl dt {
	font-weight: bold;
}
.howto-box .howto-num {
	position: relative;
}
.howto-box .howto-num dt {
	position: absolute;
	top: 0;
	left: 0;
}
.howto-box .howto-num dd {
	margin-left: 1em;
}
.howto-box.dot {
	margin-top: 30px;
	padding-top: 14px;
	background: url("/lesson/common/images/dot_bk_x2.png") 0 0 repeat-x;
	background-size: auto 1px;
}

.box-number {
	display: inline-block;
	width: 16px;
	padding: 2px 1px;
	background: #ff6f76;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 1;
}

@media only screen and (min-width: 601px) {
  .howto-box {
	zoom: 1;
	position: relative;
	min-height: 100px;
	margin-top: 22px;
  }
  .howto-box:before, .howto-box:after {
	display: block;
	height: 0;
	visibility: hidden;
	content: "\0020";
  }
  .howto-box:after {
	clear: both;
  }
  .howto-box img.howto-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 298px;
	margin-top: 0;
  }
  .howto-box dl {
	margin: 0 0 14px 320px;
  }
  .howto-box.dot {
	min-height: inherit;
	background-image: url("/lesson/common/images/dot_bk.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .howto-box.dot {
	background-image: url("/lesson/common/images/dot_bk_x2.png");
	background-size: auto 1px;
  }
}
/* individual small parts */
#lesson-howtouse .w-cell .c-inner {
	padding: 14px 3.8961% 20px;
}

@media only screen and (min-width: 601px) {
  #lesson-howtouse .w-cell .c-inner {
	padding: 10px 22px 22px;
  }
}
/* =========================================================
	5-1   /faq.html
========================================================= */
.faq-content a {
	color: #27b53a !important;
}
.faq-content a:hover {
	text-decoration: underline !important;
}
.faq-content ol {
	margin-top: 6px;
}

#content .faq-content h2 {
	padding-bottom: 6px;
	font-size: 22px;
	font-family: 'ProximaNovaCnLtSemibold', Arial, Helvetica, sans-serif;
	line-height: 1;
	color: #27b53a;
}

/* individual small parts */
#lesson-faq .tgl-title b {
	display: block;
	padding-bottom: 6px;
	font-size: 22px;
	font-weight: normal;
}

/* =========================================================
	5-2   /howto.html
========================================================= */
@media only screen and (min-width: 601px) {
  .gr-img-box {
	zoom: 1;
  }
  .gr-img-box:before, .gr-img-box:after {
	display: block;
	height: 0;
	visibility: hidden;
	content: "\0020";
  }
  .gr-img-box:after {
	clear: both;
  }

  .gr-img-box img {
	float: right;
	width: 240px;
	height: auto;
	margin-left: 22px;
	margin-bottom: 22px;
  }
}
/* individual small parts */
@media only screen and (min-width: 601px) {
  #lesson-podcast .w-cell .c-inner {
	padding: 12px 22px 22px;
  }
}
