body #lesson-box {
	font-family: Arial, Helvetica, sans-serif;
}

/* headings */
#lesson-box h1, #lesson-box h2, #lesson-box h3, #lesson-box h4, #lesson-box h5, #lesson-box h6 {
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
}

/* =========================================================
	HEAD NAV
========================================================= */
#ej-haed #ej-logo h2 {
	padding-top: 4px;
	font-size: 18px;
}

@media only screen and (min-width: 601px) {
	#ej-haed #ej-logo h1 img {
		top: -3px;
	}

	#ej-haed #ej-logo h2 {
		padding-top: 0 !important;
		font-size: 28px;
	}
}
@media all and (-ms-high-contrast: none) {
	/* IE9-11 */
	#ej-haed #ej-logo h1 img {
		top: -5px;
	}
}
/* Flexnav
--------------------------------------------------------- */
.ej-hn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

@media only screen and (min-width: 601px) {
	.ej-hn li.item-with-ul .nolink {
		padding: 12px 40px 12px 14px;
	}
	.ej-hn li#ej-hn01 a,
	.ej-hn li#ej-hn06 a {
		padding: 12px 12px;
	}

	#ej-hn02 > ul {
		width: 220px;
	}

	#ej-hn03 > ul {
		width: 220px;
	}

	#ej-hn04 > ul {
		width: 280px;
	}

	#ej-hn05 > ul {
		width: 300px;
	}
}
/* =========================================================
	TOP slide
========================================================= */
#top-slide h1.subject {
	width: 80px;
	padding: 2px 10px 1px;
	font-size: 22px;
}

#top-slide h1.subject span {
	font-size: 16px;
}

#top-slide .le-slide .btn-l a {
	padding-top: 14px;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	TOP content
========================================================= */
#top-content-l li a {
	font-size: 14px;
}

@media only screen and (min-width: 480px) {
	#top-content-l li a {
		font-size: 16px;
	}
}
/* =========================================================
	content base layout
========================================================= */
/* #content
--------------------------------------------------------- */
#content h1#con-title {
	padding: 8px 0 18px;
	font-size: 18px;
}
#content h1#tab-title {
	padding: 2px 8px 4px;
	font-size: 24px;
}
#content h1#tab-title span {
	font-size: 16px;
}
#content .tab-new {
	padding: 4px 10px 3px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

@media only screen and (min-width: 601px) {
	#content h1#con-title {
		padding: 2px 0 16px;
		font-size: 22px;
	}
	#content h1#tab-title {
		height: 24px;
		padding: 9px 10px 8px;
		font-size: 26px;
	}
	#content h1#tab-title span {
		font-size: 18px;
	}
}
/* tab */
#tab li {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#tab li a {
	padding: 15px 4px;
}

#lesson-list #tab li a,
#lesson-theme #tab li a {
	padding: 7px 4px 6px;
}

/* DL bottun */
#btn-dl a {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#btn-dl a .free {
	font-size: 13px;
}

#btn-dl a .subtext {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/* sub nav */
.sub-nav li a {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.sub-nav li.sn10 a .icon {
	padding-top: 1px;
}

@media only screen and (min-width: 601px) {
	.sub-nav li a {
		padding: 11px 18px 11px 8px;
	}
}
/* Select your language */
#select-lang #select-tgl h3 {
	padding: 15px 18px 15px 38px;
	font-size: 14px;
	font-weight: normal !important;
}

/* update box
--------------------------------------------------------- */
#ud-box a dl {
	font-size: 14px;
}

#ud-box a dl dt {
	font-family: Arial, Helvetica, sans-serif;
}

#ud-box a dl dd {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#ud-box a dl dd span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#ud-box a {
	padding: 11px 10px;
}

@media only screen and (min-width: 601px) {
	#ud-box a {
		padding: 11px 30px 12px 10px;
	}
}
/* link-l-g, link-l-more
--------------------------------------------------------- */
.link-l-g,
.link-l-more {
	font-size: 14px;
}
.link-l-g a .arw,
.link-l-more a .arw {
	bottom: 1px;
}

.link-l-g {
	font-family: Arial, Helvetica, sans-serif;
}

.link-l-more {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* dl-mp3, dl-pdf
--------------------------------------------------------- */
.dl-mp3,
.dl-pdf {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.dl-mp3 a,
.dl-pdf a {
	padding: 11px 10px 10px 32px;
}

/* btn-m
--------------------------------------------------------- */
.btn-m a {
	padding: 16px 50px 14px 10px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* btn-o-back
--------------------------------------------------------- */
.btn-o-back a {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.btn-o-back a .arw {
	top: -1px;
}

/* btn-start-lesson
--------------------------------------------------------- */
.btn-start-lesson a {
	padding: 15px 60px 15px 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#lesson-benefit .btn-start-lesson a {
	font-size: 16px;
}

@media only screen and (min-width: 360px) {
	#lesson-benefit .btn-start-lesson a {
		font-size: 18px;
	}
}
@media only screen and (min-width: 601px) {
	.btn-start-lesson a {
		padding: 25px 50px 25px 20px;
		font-size: 20px;
	}
}
/* add box
--------------------------------------------------------- */
#addition h4 {
	font-size: 18px;
}

/* green cell
--------------------------------------------------------- */
#content .gr-cell h3 {
	font-size: 18px;
}

/* le-list-box
--------------------------------------------------------- */
.le-list .le-list-inner li a .new {
	font-weight: bold;
}

/* tgl-list
--------------------------------------------------------- */
.tgl-list .tgl-inner .close-trigger {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#content h2.tgl-title {
	font-size: 16px;
}

#content .tgl-list h3 {
	font-size: 16px;
}

/* new */
.new {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	each contents
========================================================= */
/* nav current
--------------------------------------------------------- */
/* content1 */
#lesson-list .sub-nav li.sn01 a,
#lesson-theme .sub-nav li.sn01 a,
#lesson-benefit .sub-nav li.sn12 a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* content2 */
#lesson-syllabary .sub-nav li.sn02 a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* content3 */
#lesson-voc-index .sub-nav li.sn05 a,
#lesson-voc-list .sub-nav li.sn05 a,
#lesson-voc .sub-nav li.sn05 a,
#lesson-voc-quiz .sub-nav li.sn05 a,
#lesson-teacher-list .sub-nav li.sn03 a,
#lesson-teacher .sub-nav li.sn03 a,
#lesson-sound .sub-nav li.sn04 a,
#lesson-tool-list .sub-nav li.sn06 a,
#lesson-tool .sub-nav li.sn06 a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* content4 */
#lesson-overview .sub-nav li.sn11 a,
#lesson-benefit .sub-nav li.sn12 a,
#lesson-howtouse .sub-nav li.sn07 a,
#lesson-faq .sub-nav li.sn08 a,
#lesson-podcast .sub-nav li.sn09 a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	1-1-1 /learn/list/index.html
========================================================= */
#le-index li h2.lbox {
	font-size: 14px;
	line-height: 1.3;
}

#le-index li.comingsoon .cover {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	1-1-2 /learn/list/[No.].html
========================================================= */
/* movie & sound area */
.le-detail #le-desc .sound-box .sound-btn .sound-trigger {
	height: 38px !important;
	padding: 12px 20px 0 15% !important;
	font-size: 22px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.le-detail #le-desc .sound-box .sound-btn .sound-trigger span {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.le-detail #le-desc .sound-box .sound-btn .sound-trigger .icon-speaker {
	top: 9px;
	left: 12px;
}

@media screen and (min-width: 480px) {
	.le-detail #le-desc p {
		font-size: 16px;
	}
}
@media screen and (min-width: 601px) {
	#content .le-detail h2.le-title {
		padding: 14px 0 16px;
		font-size: 24px;
	}
}
/* lesson detail parts
--------------------------------------------------------- */
#key-phrase h3,
#le-scripts h3,
#le-grammar h3 {
	font-size: 20px;
}

/* Lesson page link */
#le-page-link li a {
	font-weight: bold;
}

#le-page-link li a b {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	1-2   /learn/themes/index.html
========================================================= */
#le-theme .le-theme-list h2.ttl-theme.th03 {
	height: 36px;
	padding: 4px 40px 6px 54px;
}

@media only screen and (min-width: 400px) {
	#le-theme .le-theme-list h2.ttl-theme.th03 {
		height: 24px;
		padding: 14px 40px 8px 54px;
	}
}
@media only screen and (min-width: 601px) {
	#le-theme .le-theme-list .le-theme-inner li a span {
		float: left;
		width: 3.8em;
	}
}
/* =========================================================
	1-3   /download/index.html
========================================================= */
/* dl-all */
#dl-all {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#dl-all a {
	padding: 13px 10px 7px 10px;
}
#dl-all a p {
	margin-top: 14px;
	padding: 0 0 6px 34px;
}

@media only screen and (min-width: 601px) {
	#dl-all a p {
		margin-top: 2px;
	}
}
/* dl list
--------------------------------------------------------- */
.dl-mp3,
.dl-pdf {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.dl-mp3 a .icon,
.dl-pdf a .icon {
	left: 6px;
	bottom: 4px;
}

.dl-list .dl-list-inner dl dt {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.dl-list .dl-list-inner .dl-mp3,
.dl-list .dl-list-inner .dl-pdf {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

@media only screen and (min-width: 601px) {
	.dl-list .dl-list-inner.set-dl .dl-mp3-set,
	.dl-list .dl-list-inner.set-dl .dl-pdf-set {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
}
/* =========================================================
	1-4   /learn/story/overview.html
========================================================= */
#p-profile #pp-inner h3 {
	font-size: 18px;
}

#anna h3,
#rodrigo h3,
#mother h3,
#sakura h3,
#suzuki h3,
#kenta h3 {
	font-size: 18px;
}

.chara-prof #chara-pic5 {
	left: 0;
}

#mother h3 {
	left: 140px;
}

@media only screen and (min-width: 601px) {
	#mother h3 {
		left: inherit;
	}
}
/* =========================================================
	1-6   /learn/howtouse/index.html
========================================================= */
@media only screen and (min-width: 601px) {
	.howto-box.htb02 {
		min-height: 445px;
	}
	.howto-box.htb03 {
		min-height: 230px;
	}
	.howto-box.htb04 {
		min-height: 120px;
	}
}
/* =========================================================
	3-1   /vocabulary/index.html
========================================================= */
#voc-menu li a {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	3-1-3 /vocabulary/quiz/index.html
========================================================= */
/* quiz title , current pager */
.quiz-box .q-number li {
	width: 50px;
	padding: 4px 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* quiz result */
.q-result .link-q-back a {
	height: 22px;
	padding-top: 2px;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

/* =========================================================
	3-3   /sound/index.html
========================================================= */
/* cover btn */
.sound-box .sound-btn .sound-trigger {
	height: 24px !important;
	/*height: 28px;*/
	padding: 15px 10px 11px !important;
	font-size: 18px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* =========================================================
	5-1   /faq.html
========================================================= */
#content .faq-content h2 {
	font-size: 20px;
}

#lesson-faq .tgl-title b {
	font-size: 20px;
	font-weight: bold;
}

/* =========================================================
	PLAYER
========================================================= */
/* Listen to all
--------------------------------------------------------- */
.clt-simple-all-play-button {
	height: 38px !important;
	/* height:40px; */
	padding: 6px 10px 0 !important;
	font-size: 16px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold;
}

/* =========================================================
	TOP BANNER [Review: Make Your Choice!] 2016
========================================================= */
#lesson-top .myc a .myc-ttl {
	font-family: Arial, Helvetica, sans-serif !important;
}
#lesson-top .myc a .myc-quiz span {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif !important;
}

@media only screen and (min-width: 375px) {
	#lesson-top .myc a .myc-ttl h2 span {
		display: block;
	}
}
@media only screen and (min-width: 414px) {
	#lesson-top .myc a .myc-ttl h2 span {
		display: inline;
	}
}
@media only screen and (min-width: 601px) {
	#lesson-top .myc a .myc-ttl h2 {
		font-size: 22px;
	}
}
/* =========================================================
	BANNER [Review: Make Your Choice!] 2016
========================================================= */
@media only screen and (min-width: 601px) {
	.sp-bnr.challenge a {
		font-family: Arial, Helvetica, sans-serif !important;
		font-weight: bold;
		font-size: 16px;
	}
}
/* =========================================================
	/special/challenge/index.html
========================================================= */
/* quiz box
--------------------------------------------------------- */
.quiz-inner .clg-q {
	font-family: Arial, Helvetica, sans-serif !important;
}

/* degree */
/* select-answer */
/* answer box
--------------------------------------------------------- */
.answer-box .cmt-correct,
.answer-box .cmt-incorrect {
	font-family: Arial, Helvetica, sans-serif !important;
}
.answer-box #next-btn a {
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold;
}

@media only screen and (min-width: 601px) {
	.answer-box .asw-head {
		font-size: 16px;
	}
}
/* quiz-btn-list
--------------------------------------------------------- */
